
<!DOCTYPE html>
<html>
    <head>
        <title>商品筛选</title>
        <script src="../../src/vue.js"></script>
        <style>
      
        </style>
    </head>
    <body>
      <div id = "app">
         <mark 
          @click ="removeHanlder(key)"
          v-for="item,key in choose"
        >
          {{item}}
        </mark>
        <ul>
          <li v-for= "item,index in dataList">
            {{item.title}}：
            <a 
              v-for="option in item.list"
              @click = "addChoseHandle(option,index,)"
            >
              {{option}}
            </a>
          </li>
        </ul>
        
      </div>
      <!--数据-->
      <script type="text/javascript">
        let  data = [
          {
            title:"品牌",
            list:["苹果","小米","锤子"]
          },
          {
            title:"尺寸",
            list:["1","2","3"]
          },
          {
            title:"系统",
            list:["安卓","ios","微软"]
          },
        ]

          /*
              {
                0："苹果，
                1："""
              }

              key值不重复
              思路：用对象来存每一行选中的标签，把每一行下标作为key值

              需要给数据的每一行添加属性，属性用来记录选中的标签
          */
          //需要处理data
          data.forEach( item => item.index = -1);
          console.log(data);
        new Vue({
          el:"#app",
          data:{
            dataList:data,
            choose:{},
          },
          methods:{
              addChoseHandle(option,index,i){
                console.log(option);
                //这样给对象添加属性并会响应 
                //this.choose[index] = option;

                this.$set(this.choose,index,option);
                //this.dataList[index].index = i;
              },
              removeHanlder(key){
                /*
                  choose = {
                    0:
                    1:
                    2:
                    3:
                  }
                */

                console.log(this.choose);
                console.log(key);
                //删除对象
                this.$delete(this.choose,key);
                this.dataList[key.index] = -1;
              }
          }
        })

       </script>
    </body>
</html>