
<!DOCTYPE html>
<html>
    <head>
        <title>简易留言板</title>
        <script src="../../src/vue.js"></script>
    </head>
    <body>
      <!--数据和模板--> 
      <div id = "app">
        <input type="text" v-model="val"/>
        <input type="button" value="发送" v-on:click="sendHandle"/>
        <p>{{val}}</p>
        <ul>
          <li v-for="item in list">{{item.title}}</li>
        </ul>
      </div>
      <!--数据-->
      <script>

        /*
        */
        let list = [
         
        ]
        var vm =  new Vue({
                      el:"#app",
                      data:{
                          list,
                          val:""
                      },
                      methods:{
                        sendHandle(){
                          console.log(this.val);
                          this.list.push({
                            id:Date.now(),
                            title:this.val
                          });
                          this.val='';
                        }
                      }
                  })

        setTimeout(function(){
          vm.list=[
            {
              id:123,
              title:"今天1"
            },
            {
              id:456,
              title:"今天2"
            },
            {
              id:789,
              title:"今天3"
            },
        ]
        },2000)
       </script>
    </body>
</html>