
<!DOCTYPE html>
<html>
    <head>
        <title>2使用Vue</title>
        <script src="../../src/vue.js"></script>
    </head>
    <body>
      <!--数据和模板-->
      <div id = "app">
        <ul>
          <li v-for="(item,index) in list">{{item}}---{{index}}</li>
        </ul>

        <ul>
            <li v-for="value,key,index in obj">{{value}}---{{key}}---{{index}}</li>
        </ul>
      </div>
      <!--数据-->
      <script>
        /*
         指令 渲染列表指令
          v-for
          语法：v-for="value,index in arr"
              v-for="value,key,index in obj"


        */
        var message = "hello world";

        var vm =  new Vue({
                      el:"#app",
                      data:{
                          list:["d","da","dad"],
                          obj:{
                            a:0,
                            b:1,
                            c:2
                      }
                      },
                  })

        
       </script>
    </body>
</html>